extends ./layout/index.pug

block content
  main.home 
    .mb-5
      #carouselExampleIndicators.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carouselExampleIndicators' data-slide-to='0')
          li(data-target='#carouselExampleIndicators' data-slide-to='1')
          li(data-target='#carouselExampleIndicators' data-slide-to='2')
        .carousel-inner
          .carousel-item.active
            img(src="./images/1.png", alt="")
          .carousel-item
            img(src="./images/2.png", alt="")
          //- .carousel-item(style="background-image: url(./images/1.png)").active
          //- .carousel-item(style="background-image: url(./images/2.png)")
          //- .carousel-item(style="background-image: url(./images/3.png)")
          //- .carousel-item(style="background-image: url(./images/4.png)")
          //- .carousel-item(style="background-image: url(./images/5.png)")
          //- .carousel-item(style="background-image: url(./images/6.png)")
        a.carousel-control-prev(href='#carouselExampleIndicators' role='button' data-slide='prev')
          span.carousel-control-prev-icon(aria-hidden='true')
          span.sr-only Previous
        a.carousel-control-next(href='#carouselExampleIndicators' role='button' data-slide='next')
          span.carousel-control-next-icon(aria-hidden='true')
          span.sr-only Next
    article.container.mb-5.letter-spacing-4
      .row.justify-content-center.justify-content-lg-start
        .col-12.col-lg-6.px-5
          h2.h4.font-weight-bold 關於冬森
          .py-4
            .pb-2.line-height-18 
              strong.mr-2.font-weight-400 冬
              span.font-weight-100 天的光影豐富漸變的軌跡，構築清新脫俗的生活場景，為家中的每一份子，規劃出獨一無二的夢想住所。
            .pb-2.line-height-18
              strong.mr-2.font-weight-400 森
              span.font-weight-100 林的靜謐、空靈，賦予空間一抹安定的力量，符合人性與溫潤舒適的環境。
        .col-12.col-lg-6.px-5
          h2.h4 公司簡介
          .py-4
            .pb-4.line-height-18.font-weight-100 我們是由一群具有熱忱的年輕團隊組成， 聆聽業主的想法與意見，注重與客人間的互動，對於我們來說是一種『態度』也是一種『責任』
            .pb-4.line-height-18.font-weight-100 每個空間都乘載著屬於他自己的故事，我們能提供良好的設計規劃，跳脫傳統框限的思維，發揮無限創意，使設計更貼近生活所需，共同創造生活的想像與藍圖。
