extends ./layout/index.pug

block content
  main.contact.container.mb-5
    h2.h1.py-4.text-center
    section.container.text-center.h5.mb-5
      .row
        .col-12.col-sm-6.col-lg-4.py-3
          .card.shadow
            a.d-block.p-3.bg-cover(style="height: 240px;background-image: url(./images/workplace-1.png)" href="./workplace-detail.html") 
            .card-body
              h5.m-0.card-title.text-truncate 新營透天-蔡公館
        .col-12.col-sm-6.col-lg-4.py-3
          .card.shadow
            a.d-block.p-3.bg-cover(style="height: 240px;background-image: url(./images/workplace-2.png)" href="./workplace-detail.html") 
            .card-body
              h5.m-0.card-title.text-truncate 新營透天-蔡公館
        .col-12.col-sm-6.col-lg-4.py-3
          .card.shadow
            a.d-block.p-3.bg-cover(style="height: 240px;background-image: url(./images/workplace-3.png)" href="./workplace-detail.html") 
            .card-body
              h5.m-0.card-title.text-truncate 新營透天-蔡公館
        .col-12.col-sm-6.col-lg-4.py-3
          .card.shadow
            a.d-block.p-3.bg-cover(style="height: 240px;background-image: url(./images/workplace-4.png)" href="./workplace-detail.html") 
            .card-body
              h5.m-0.card-title.text-truncate 新營透天-蔡公館
        .col-12.col-sm-6.col-lg-4.py-3
          .card.shadow
            a.d-block.p-3.bg-cover(style="height: 240px;background-image: url(./images/workplace-5.png)" href="./workplace-detail.html") 
            .card-body
              h5.m-0.card-title.text-truncate 新營透天-蔡公館
        .col-12.col-sm-6.col-lg-4.py-3
          .card.shadow
            a.d-block.p-3.bg-cover(style="height: 240px;background-image: url(./images/workplace-6.png)" href="./workplace-detail.html") 
            .card-body
              h5.m-0.card-title.text-truncate 新營透天-蔡公館
        .col-12.col-sm-6.col-lg-4.py-3
          .card.shadow
            a.d-block.p-3.bg-cover(style="height: 240px;background-image: url(./images/workplace-7.png)" href="./workplace-detail.html") 
            .card-body
              h5.m-0.card-title.text-truncate 新營透天-蔡公館
        .col-12.col-sm-6.col-lg-4.py-3
          .card.shadow
            a.d-block.p-3.bg-cover.stretched-link(style="height: 240px;background-image: url(./images/workplace-8.png)" href="./workplace-detail.html") 
            .card-body
              h5.m-0.card-title.text-truncate 新營透天-蔡公館