extends ./layout/index.pug

block content
  main.contact.container.mb-5
    .py-3
    article.container.text-center.h5.mb-5
      .row
        .col-12.col-lg-6.py-3
          .slider-for
            div
              a.fancyapps(href="./images/workplace-1.png" data-fancybox="gallery")
                img(src="./images/workplace-1.png", alt="")
            div
              a.fancyapps(href="./images/workplace-2.png" data-fancybox="gallery")
                img(src="./images/workplace-2.png", alt="")
            div
              a.fancyapps(href="./images/workplace-3.png" data-fancybox="gallery")
                img(src="./images/workplace-3.png", alt="")
            div
              a.fancyapps(href="./images/workplace-4.png" data-fancybox="gallery")
                img(src="./images/workplace-4.png", alt="")
            div
              a.fancyapps(href="./images/workplace-5.png" data-fancybox="gallery")
                img(src="./images/workplace-5.png", alt="")
            div
              a.fancyapps(href="./images/workplace-6.png" data-fancybox="gallery")
                img(src="./images/workplace-6.png", alt="")
            div
              a.fancyapps(href="./images/workplace-7.png" data-fancybox="gallery")
                img(src="./images/workplace-7.png", alt="")
            div
              a.fancyapps(href="./images/workplace-8.png" data-fancybox="gallery")
                img(src="./images/workplace-8.png", alt="")
          .slider-nav
            div
              img(src="./images/workplace-1.png", alt="")
            div
              img(src="./images/workplace-2.png", alt="")
            div
              img(src="./images/workplace-3.png", alt="")
            div
              img(src="./images/workplace-4.png", alt="")
            div
              img(src="./images/workplace-5.png", alt="")
            div
              img(src="./images/workplace-6.png", alt="")
            div
              img(src="./images/workplace-7.png", alt="")
            div
              img(src="./images/workplace-8.png", alt="")
        .col-12.col-lg-6.py-3
          h2.h1.py-4.text-center 新營透天-蔡公館
          .font-weight-100 我是內容我是內容我是內容我是內容我是內容，我是內容我是內容我是內容我是內容我是內容我是內容，我是內容我是內容我是內容我是內容我是內容，我是內容我是內容我是內容我是內容我是內容，我是內容我是內容我是內容我是內容我是內容，我是內容我是內容我是內容我是內容我是內容我是內容，我是內容我是內容我是內容我是內容我是內容。