extends ./layout/index.pug

block content
  main.contact.container.mb-5
    h2.py-4.text-center 作品案例
    section.container.text-center.h5.mb-5
      .position-relative
        img.banner(src="./images/workplace-3.png", alt="")
        .position-inset.d-flex.justify-content-center.align-items-center
          div
            .display-4.text-white.font-weight-bold ALL
            a.btn.btn-insetlink.my-3(href="./workplace-list.html") 全部
            .bottom-line
    section.container.text-center.h5.mb-5
      .position-relative
        img.banner(src="./images/workplace-3.png", alt="")
        .position-inset.d-flex.justify-content-center.align-items-center
          div
            .display-4.text-white.font-weight-bold Business Space
            a.btn.btn-insetlink.my-3(href="./workplace-list.html") 商業空間
            .bottom-line
    section.container.text-center.h5.mb-5
      .position-relative
        img.banner(src="./images/workplace-3.png", alt="")
        .position-inset.d-flex.justify-content-center.align-items-center
          div
            .display-4.text-white.font-weight-bold Residential Design
            a.btn.btn-insetlink.my-3(href="./workplace-list.html") 住宅設計
            .bottom-line