footer.text-center.p-4.border-top
  h2.h4.mb-3.font-weight-bold 冬森空間設計
  .d-flex.flex-wrap.h5.justify-content-center.align-items-center.mx-auto(style="max-width: 768px;")
    .p-1 TEL: 0938123340
    .p-1.d-sm-block.d-none |
    .p-1 dongsendesign@gmail.com
    .p-1.d-md-block.d-none |
    .p-1 周一至周六 AM09:00~PM06:00
  .d-flex.align-items-center.container.justify-content-center(style="max-width: 450px;")
    .col-2.p-2.icon
      a(href="javascript:;")
        img(class="w-100" src="./images/fb.png" alt="")
    .col-2.p-2.icon
      a(href="javascript:;")
        img(class="w-100" src="./images/ig.png" alt="")
    .col-2.p-2.icon
      a(href="javascript:;")
        img(class="w-100" src="./images/line.png" alt="")
    .col-2.p-2.icon
      a(href="javascript:;")
        img(class="w-100" src="./images/google.png" alt="")