header.position-fixed
  nav.navbar.navbar-expand-md.navbar-light.bg-light.d-flex.justify-content-between.py-0.px-4
    h1.navbar-brand.align-self-start.py-0
      a(href="/home.html" title="冬森空間設計")
        img(src="./images/LOGO-min.png" width="180" alt="冬森空間設計")
    button.navbar-toggler(type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon
    .collapse.navbar-collapse#navbar-panel
      .d-flex.justify-content-end
        button.navbar-toggler.navbar-dark.border-light(type="button" data-toggle="collapse" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation")
          span.navbar-toggler-icon
      ul.navbar-nav.ml-auto
        li.nav-item.position-relative
          a.nav-link.px-3.pb-2.fs-24(href="./home.html") 公司簡介
        li.nav-item.position-relative
          a.nav-link.px-3.pb-2.fs-24(href="./about-us.html") 服務流程
        li.nav-item.position-relative
          a.nav-link.px-3.pb-2.fs-24(href="./workplace.html") 作品案例
        li.nav-item.position-relative
          a.nav-link.px-3.pb-2.fs-24(href="./contact.html") 聯絡我們
