head
  title 冬森空間設計
  meta(charset="UTF-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1.0")
  meta(name="author" content="小毛工作室")
  meta(name="copyright" content="冬森空間設計")
  meta(name="description" content="冬森空間設計")
  meta(name="keyword" content="冬森空間設計")
  meta(name="og:title" content="冬森空間設計")
  meta(name="og:url" content="https://98goto.com/ds/index.php")
  meta(name="og:image" content="https://98goto.com/ds/")
  meta(name="og:description" content="冬森空間設計")
  link(rel="preconnect" href="https://fonts.gstatic.com")
  link(href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap" rel="stylesheet")